// Color Variables
$Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$Light-Grayish-Blue: hsl(210, 46%, 95%);

// Font Sizes
$size-13: 13px;
$size-15: 15px;
$size-16: 16.7px;
$size-20: 20px;

// Font Weights
$weight-500: 500;
$weight-700: 700;